HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.settings/
.vscode/
.project
.classpath
.factorypath
**/resources/application.yml
**/resources/bootstrap.yml
**/resources/log4j2.xml
**/resources/redisson.yaml
**/soar
**/soar.log
**/soar.yaml
