HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/src/main/resources/*.yaml
**/src/main/resources/*.xml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.settings/
.vscode/
.project
.classpath
.factorypath
.vscode/
soar*
**/src/main/resources/*.yml
