<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.oauth.domain.mapper.RolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.oauth.domain.model.RolePermission">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(roleId)">and `role_id` = #{roleId}</if>
                <if test="@Ognl@isNotEmpty(permissionId)">and `permission_id` = #{permissionId}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, permission_id
    </sql>

    <insert id="insertRolePermissionBatch">
        insert into o_role_permission (role_id, permission_id)
                values
        <foreach collection="permissionIds" item="permissionId" separator=",">
            (#{roleId}, #{permissionId})
        </foreach>
    </insert>

    <select id="getByRoleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from o_role_permission
        where role_id = #{roleId}
    </select>

    <delete id="deletedRolePermissionBatch">
        delete
        from o_role_permission
                where role_id = #{roleId}
                  and permission_id in
        <foreach collection="permissionIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>
