<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.oauth.domain.mapper.DistrictPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.oauth.domain.model.DistrictPermission">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(districtLevel)">and `district_level` = #{districtLevel}</if>
                <if test="@Ognl@isNotEmpty(permissionId)">and `permission_id` = #{permissionId}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        district_level, permission_id
    </sql>

    <!-- 获取平台管理员的权限结果Map -->
    <resultMap id="TemplatePermissionTreeMap" type="com.wupol.myopia.oauth.domain.model.Permission">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <!--<result column="district_level" property="templateType" jdbcType="INTEGER" />-->
        <result column="is_have" property="isHave" jdbcType="INTEGER" />
        <collection property="child"
                    ofType="com.wupol.myopia.oauth.domain.model.Permission"
                    column="{pid = id, templateType = district_level}"
                    select="selectTemplatePermissionTree"/>
    </resultMap>
    <!-- 获取平台管理员的权限-树结构【基于全量权限】 -->
    <select id="selectTemplatePermissionTree" resultMap="TemplatePermissionTreeMap">
        SELECT
               p.*,
               CASE WHEN dp.district_level IS NULL THEN 0 ELSE 1 END AS is_have,
               #{templateType} as district_level
        FROM
             o_permission p
                 LEFT JOIN o_district_permission dp ON p.id = dp.permission_id AND dp.district_level = #{templateType}
        WHERE
                p.pid = #{pid}
        order by p.`order` ASC, p.update_time DESC
    </select>

</mapper>
