<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.oauth.domain.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.oauth.domain.model.Permission">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(name)">and `name` = #{name}</if>
                <if test="@Ognl@isNotEmpty(menuBtnName)">and `menu_btn_name` = #{menuBtnName}</if>
                <if test="@Ognl@isNotEmpty(apiUrl)">and `api_url` = #{apiUrl}</if>
                <if test="@Ognl@isNotEmpty(isMenu)">and `is_menu` = #{isMenu}</if>
                <if test="@Ognl@isNotEmpty(isPage)">and `is_page` = #{isPage}</if>
                <if test="@Ognl@isNotEmpty(order)">and `order` = #{order}</if>
                <if test="@Ognl@isNotEmpty(pid)">and `pid` = #{pid}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, menu_btn_name, api_url, is_menu, is_page, order, pid, create_time, update_time
    </sql>

    <select id="getUserPermissionByUserId" resultMap="BaseResultMap">
        SELECT
               p.*
        FROM
             o_permission p,
             o_role_permission rp,
             o_user_role ur
        WHERE
                ur.role_id = rp.role_id
          AND rp.permission_id = p.id
          AND ur.user_id = #{userId};
    </select>

    <resultMap id="PermissionTreeMap" type="com.wupol.myopia.oauth.domain.model.Permission">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <collection property="child" ofType="com.wupol.myopia.oauth.domain.model.Permission" column="{pid = id}" select="selectPermissionTree"/>
    </resultMap>

    <!-- 获取权限资源树 -->
    <select id="selectPermissionTree" resultMap="PermissionTreeMap" >
        select * from o_permission where pid = #{pid} order by `order` ASC, update_time DESC
    </select>

    <resultMap id="RolePermissionTreeMap" type="com.wupol.myopia.oauth.domain.model.Permission">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="district_level" property="districtLevel" jdbcType="INTEGER" />
        <result column="is_have" property="isHave" jdbcType="INTEGER" />
        <collection property="child"
                    ofType="com.wupol.myopia.oauth.domain.model.Permission"
                    column="{pid = id, districtLevel= district_level, roleId = role_id}"
                    select="selectRolePermissionTree"/>
    </resultMap>

    <!-- 获取指定角色的权限树（基于指定行政区等级权限） -->
    <select id="selectRolePermissionTree" resultMap="RolePermissionTreeMap">
        SELECT
            p.*,
            CASE WHEN rp.role_id IS NULL THEN 0 ELSE 1 END AS is_have,
            #{roleId} as role_id,
            #{districtLevel} as district_level
        FROM
            o_district_permission dp
            LEFT JOIN o_permission p ON dp.permission_id = p.id
            LEFT JOIN o_role_permission rp ON dp.permission_id = rp.permission_id AND rp.role_id = #{roleId}
        WHERE
           dp.district_level = #{districtLevel} AND p.pid = #{pid}
        order by p.`order` ASC, p.update_time DESC
    </select>

</mapper>
