<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.oauth.domain.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.oauth.domain.model.User">
    </resultMap>
    <resultMap id="UserWithRoleResultMap" type="com.wupol.myopia.oauth.domain.model.UserWithRole">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="real_name" property="realName" />
        <result column="gender" property="gender" />
        <result column="phone" property="phone" />
        <result column="id_card" property="idCard" />
        <result column="username" property="username" />
        <result column="is_leader" property="isLeader" />
        <result column="system_code" property="systemCode" />
        <result column="create_user_id" property="createUserId" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="user_type" property="userType" />
        <result column="create_user_name" property="createUserName" />
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(orgId)">and `org_id` = #{orgId}</if>
                <if test="@Ognl@isNotEmpty(realName)">and `real_name` = #{realName}</if>
                <if test="@Ognl@isNotEmpty(gender)">and `gender` = #{gender}</if>
                <if test="@Ognl@isNotEmpty(phone)">and `phone` = #{phone}</if>
                <if test="@Ognl@isNotEmpty(idCard)">and `id_card` = #{idCard}</if>
                <if test="@Ognl@isNotEmpty(username)">and `username` = #{username}</if>
                <if test="@Ognl@isNotEmpty(password)">and `password` = #{password}</if>
                <if test="@Ognl@isNotEmpty(isLeader)">and `is_leader` = #{isLeader}</if>
                <if test="@Ognl@isNotEmpty(systemCode)">and `system_code` = #{systemCode}</if>
                <if test="@Ognl@isNotEmpty(createUserId)">and `create_user_id` = #{createUserId}</if>
                <if test="@Ognl@isNotEmpty(status)">and `status` = #{status}</if>
                <if test="@Ognl@isNotEmpty(remark)">and `remark` = #{remark}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>
                <if test="@Ognl@isNotEmpty(userType)">and `user_type` = #{userType}</if>
            </trim>
        </where>
    </sql>

    <sql id="Base_Like_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="param.id != null">and u.`id` = #{param.id}</if>
                <if test="param.orgId != null">and u.`org_id` = #{param.orgId}</if>
                <if test="param.userType != null">and u.`user_type` = #{param.userType}</if>
                <if test="param.isLeader != null">and u.`is_leader` = #{param.isLeader}</if>
                <if test="param.status != null">and u.`status` = #{param.status}</if>
                <if test="param.systemCode != null">and u.system_code = #{param.systemCode}</if>
                <if test="param.realName != null and param.realName != ''">and u.`real_name` like CONCAT('%',#{param.realName},'%')</if>
                <if test="param.phone != null and param.phone != ''">and u.`phone` like CONCAT('%',#{param.phone},'%')</if>
                <if test="param.createUserName != null and param.createUserName != ''">and ou.`real_name` like CONCAT("%",#{param.createUserName},"%")</if>
                <if test="param.idCard != null and param.idCard != ''">and u.id_card like CONCAT('%', #{param.idCard}, '%')</if>
                <if test="param.orgIds != null">
                    and u.`org_id` IN <foreach collection="param.orgIds" open="(" close=")" separator="," item="item">#{item}</foreach>
                </if>
                <if test="param.userIds != null">
                    and u.`id` IN <foreach collection="param.userIds" open="(" close=")" separator="," item="item">#{item}</foreach>
                </if>
                <if test="param.phones != null">
                    and u.`phone` IN <foreach collection="param.phones" open="(" close=")" separator="," item="item">#{item}</foreach>
                </if>
                <if test="param.idCards != null">
                    and u.`id_card` IN <foreach collection="param.idCards" open="(" close=")" separator="," item="item">#{item}</foreach>
                </if>
                <if test="param.startCreateTime != null and param.endCreateTime != null">
                    and DATE(u.create_time) between DATE(#{param.startCreateTime}) and DATE(#{param.endCreateTime})
                </if>
                <if test="param.startLastLoginTime != null and param.endLastLoginTime != null">
                    and DATE(u.last_login_time) between DATE(#{param.startLastLoginTime}) and DATE(#{param.endLastLoginTime})
                </if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        u.id, u.org_id, u.real_name, u.gender, u.phone, u.id_card, u.username, u.is_leader, u.system_code, u.create_user_id, u.status, u.remark, u.create_time, u.update_time, u.last_login_time, u.user_type
    </sql>

    <select id="selectUserListWithRole" resultMap="UserWithRoleResultMap" parameterType="java.util.Map">
        SELECT
            <include refid="Base_Column_List"/>,
            ou.real_name AS create_user_name
        FROM
            o_user u LEFT JOIN o_user ou ON u.create_user_id = ou.id
        <include refid="Base_Like_Where_Clause"/>
        ORDER BY u.create_time DESC
    </select>

    <select id="selectUserList" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
            <include refid="Base_Column_List"/>
        FROM o_user u
            <include refid="Base_Like_Where_Clause"/>
    </select>

</mapper>
