<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.core.questionnaire.domain.mapper.QuestionnaireQesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.core.questionnaire.domain.model.QuestionnaireQes">

    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(year)">and `year` = #{year}</if>
                <if test="@Ognl@isNotEmpty(name)">and `name` = #{name}</if>
                <if test="@Ognl@isNotEmpty(description)">and `description` = #{description}</if>
                <if test="@Ognl@isNotEmpty(qes_file_id)">and `qes_file_id` = #{qesFileId}</if>
                <if test="@Ognl@isNotEmpty(preview_file_id)">and `preview_file_id` = #{previewFileId}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, year, name, description, qes_file_id, preview_file_id, create_time, update_time
    </sql>


</mapper>
