<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.core.questionnaire.domain.mapper.UserQuestionRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.core.questionnaire.domain.model.UserQuestionRecord">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(userId)">and `user_id` = #{userId}</if>
                <if test="@Ognl@isNotEmpty(questionnaireId)">and `questionnaire_id` = #{questionnaireId}</if>
                <if test="@Ognl@isNotEmpty(planId)">and `plan_id` = #{planId}</if>
                <if test="@Ognl@isNotEmpty(taskId)">and `task_id` = #{taskId}</if>
                <if test="@Ognl@isNotEmpty(noticeId)">and `notice_id` = #{noticeId}</if>
                <if test="@Ognl@isNotEmpty(govId)">and `gov_id` = #{govId}</if>
                <if test="@Ognl@isNotEmpty(school_id)">and `school_id` = #{school_id}</if>
                <if test="@Ognl@isNotEmpty(student_id)">and `student_id` = #{student_id}</if>
                <if test="@Ognl@isNotEmpty(status)">and `status` = #{status}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, questionnaire_id, plan_id, task_id, notice_id, gov_id, school_id, student_id, status, create_time, update_time
    </sql>

</mapper>
