# 服务端口号
server:
  port: 8000

spring:
  cloud:
    # 网关路由配置
    gateway:
      routes:
      - id: route_oauth
        uri: lb://myopia-oauth
        predicates:
        - Path=/auth/**
        filters:
        - StripPrefix=1

      - id: route_business
        uri: lb://myopia-business
        predicates:
        - Path= >
          /hospital/app/parent/parentStudent/report/visits/detail, /hospital/app/parent/parentStudent/report/screening/detail,
          /hospital/app/management/common/fileUpload, /hospital/app/management/district/child/**, /hospital/app/management/school/getSchools/schoolName,
          /hospital/app/management/schoolGrade/all, /hospital/app/management/schoolClass/all, /hospital/app/parent/parentStudent/report/screening/list/,
          /hospital/app/app/screening/student/findOneById,
          /preschool/app/parent/parentStudent/report/visits/detail, /preschool/app/parent/parentStudent/report/screening/detail,
          /preschool/app/management/common/fileUpload, /preschool/app/management/district/child/**, /preschool/app/management/school/getSchools/schoolName,
          /preschool/app/management/schoolGrade/all, /preschool/app/management/schoolClass/all, /preschool/app/parent/parentStudent/report/screening/list/,
          /preschool/app/app/screening/student/findOneById
        filters:
        - StripPrefix=2

      - id: route_business
        uri: lb://myopia-business
        predicates:
        - Path=/management/**, /hospital/**, /parent/**, /app/**, /api/**, /school/**, /preschool/**

    # 注册中心地址
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    # sentinel dashboard
    sentinel:
      transport:
        dashboard: localhost:8858
      # 取消Sentinel控制台懒加载
      eager: true

  # 为true设置的是web开启sleuth功能
  sleuth:
    web:
      client:
        enabled: true
    # 可以设置为小数，最大值为1.0，当设置为1.0时就是链路数据100%收集到zipkin-server，当设置为0.1时，即10%概率收集链路数据
    sampler:
      probability: 1.0

  # 指定 Zipkin 服务器的地址
  zipkin:
    base-url: http://127.0.0.1:9411

  security:
    oauth2:
      resourceserver:
        jwt:
          # 通过gateway访问oauth服务，获取JWT验签公钥请求路径【如果直接访问oauth服务，则去掉“/auth”前缀】
          jwk-set-uri: 'http://localhost:8000/auth/rsa/publicKey'

  ### Redis配置
  redis:
    # 数据库索引（默认为0）
    database: 1
    host: localhost
    port: 6379
    password:
    jedis:
      pool:
        # 连接池最大连接数（使用负值表示没有限制）
        max-active: 8
        # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池中的最小空闲连接
        min-idle: 0
    # 连接超时时间（毫秒）
    timeout: 5000ms


# 指定远程调用oauth服务的负载均衡策略
myopia-oauth:
  ribbon:
    NFLoadBalancerRuleClassName: com.netflix.loadbalancer.BestAvailableRule
# 指定远程调用business服务的负载均衡策略
myopia-business:
  ribbon:
    NFLoadBalancerRuleClassName: com.netflix.loadbalancer.BestAvailableRule

### 健康监控 - actuator 配置
management:
  endpoint:
    health:
      show-details: always

# 配置白名单路径
white-list:
  urls:
  - "/api/vs/uploadData"
  - "/auth/login"
  - "/auth/refresh/token"
  - "/auth/rsa/publicKey"
  - "/parent/wx/index"
  - "/parent/wx/authorize"
  - "/parent/wx/callback/login"
  - "/parent/wx/callback/userInfo"
  - "/parent/wx/smsCode/**"
  - "/parent/wx/phone/bind"
  # 筛查报告数据接口（内网访问）
  - "/management/stat/getDistrictReport"
  - "/management/stat/getSchoolReport"
  - "/management/stat/getAllSchoolReport"
  # 档案卡报告接口（内网访问）
  - "/management/screeningResult/list-result"
  # 健康检查接口
  - "/actuator/health"