<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.core.hospital.domain.mapper.DoctorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.core.hospital.domain.model.Doctor">
    </resultMap>

    <resultMap id="DoctorDTO" type="com.wupol.myopia.business.core.hospital.domain.dto.DoctorDTO">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and d.`id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(hospitalId)">and d.`hospital_id` = #{hospitalId}</if>
                <if test="@Ognl@isNotEmpty(departmentId)">and d.`department_id` = #{departmentId}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and d.`create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and d.`update_time` = #{updateTime}</if>
                <if test="@Ognl@isNotEmpty(userId)">and d.`user_id` = #{userId}</if>

                <!-- 模糊查询 -->
                <if test="@Ognl@isNotEmpty(like)">and (
                    d.`name` like CONCAT("%",#{like},"%") or
                    d.`title_name` like CONCAT("%",#{like},"%") or
                    d.`department_name` like CONCAT("%",#{like},"%"))
                </if>

            </trim>
        </where>
    </sql>

    <select id="getBy" resultMap="BaseResultMap">
        select *
        from h_doctor d
        <include refid="Base_Where_Clause" />
    </select>

    <select id="getByPage" resultMap="DoctorDTO">
        select d.*, h.name as hospital_name
        from h_doctor d
        inner join m_hospital h
        on d.hospital_id = h.id
        <where>
            <if test="@Ognl@isNotEmpty(query.like)">
                and d.`name` like CONCAT("%",#{query.like},"%")
            </if>
            <if test="@Ognl@isNotEmpty(query.hospitalId)">
                and d.hospital_id = #{query.hospitalId}
            </if>
        </where>
    </select>

    <select id="getDoctorVoList" resultMap="DoctorDTO">
        SELECT d.*, count(mr.id) as reportCount
        FROM h_doctor d
        LEFT JOIN h_medical_report mr ON d.id = mr.doctor_id
        <include refid="Base_Where_Clause"/>
        group by d.id
    </select>

    <select id="getById" resultMap="DoctorDTO">
        select d.*, h.name as hospital_name
        from h_doctor d
        inner join m_hospital h
        on d.hospital_id = h.id
        where d.id = #{id}
    </select>

    <select id="getByUserId" resultMap="DoctorDTO">
        select d.*, h.name as hospital_name
        from h_doctor d
        inner join m_hospital h
        on d.hospital_id = h.id
        where d.user_id = #{userId}
    </select>

</mapper>
