<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.core.hospital.domain.mapper.HospitalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.core.hospital.domain.model.Hospital">
    </resultMap>

    <resultMap id="BaseResponseMap" type="com.wupol.myopia.business.core.hospital.domain.dto.HospitalResponseDTO">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(createUserId)">and `create_user_id` = #{createUserId}</if>
                <if test="@Ognl@isNotEmpty(govDeptId)">and `gov_dept_id` = #{govDeptId}</if>
                <if test="@Ognl@isNotEmpty(districtId)">and `district_id` = #{districtId}</if>
                <if test="@Ognl@isNotEmpty(districtProvinceCode)">and `district_province_code` = #{districtProvinceCode}</if>
                <if test="@Ognl@isNotEmpty(districtDetail)">and `district_detail` = #{districtDetail}</if>
                <if test="@Ognl@isNotEmpty(name)">and `name` = #{name}</if>
                <if test="@Ognl@isNotEmpty(level)">and `level` = #{level}</if>
                <if test="@Ognl@isNotEmpty(levelDesc)">and `level_desc` = #{levelDesc}</if>
                <if test="@Ognl@isNotEmpty(telephone)">and `telephone` = #{telephone}</if>
                <if test="@Ognl@isNotEmpty(type)">and `type` = #{type}</if>
                <if test="@Ognl@isNotEmpty(kind)">and `kind` = #{kind}</if>
                <if test="@Ognl@isNotEmpty(provinceCode)">and `province_code` = #{provinceCode}</if>
                <if test="@Ognl@isNotEmpty(cityCode)">and `city_code` = #{cityCode}</if>
                <if test="@Ognl@isNotEmpty(areaCode)">and `area_code` = #{areaCode}</if>
                <if test="@Ognl@isNotEmpty(townCode)">and `town_code` = #{townCode}</if>
                <if test="@Ognl@isNotEmpty(address)">and `address` = #{address}</if>
                <if test="@Ognl@isNotEmpty(avatarFileId)">and `avatar_file_id` = #{avatarFileId}</if>
                <if test="@Ognl@isNotEmpty(remark)">and `remark` = #{remark}</if>
                <if test="@Ognl@isNotEmpty(isCooperation)">and `is_cooperation` = #{isCooperation}</if>
                <if test="@Ognl@isNotEmpty(status)">and `status` = #{status}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>
                <if test="@Ognl@isNotEmpty(serviceType)">and `service_type` = #{serviceType}</if>
                <if test="@Ognl@isNotEmpty(cooperationType)">and `cooperation_type` = #{cooperationType}</if>
                <if test="@Ognl@isNotEmpty(cooperationTimeType)">and `cooperation_time_type` = #{cooperationTimeType}</if>
                <if test="@Ognl@isNotEmpty(cooperationStartTime)">and `cooperation_start_time` = #{cooperationStartTime}</if>
                <if test="@Ognl@isNotEmpty(cooperationEndTime)">and `cooperation_end_time` = #{cooperationEndTime}</if>
                <if test="@Ognl@isNotEmpty(associateScreeningOrgId)">and `associate_screening_org_id` = #{associateScreeningOrgId}</if>

                <!-- 模糊查询 -->
                <if test="nameLike != null">and `name` like CONCAT("%",#{nameLike},"%")</if>
                <if test="noLike != null">and hospital_no like CONCAT("%",#{noLike},"%")</if>
                <if test="code != null">
                    and (city_code = #{code} or area_code = #{code} or town_code = #{code})
                </if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_user_id, gov_dept_id, district_id, district_province_code, district_detail, name, level, level_desc, telephone, type, kind, province_code, city_code, area_code, town_code, address,
        avatar_file_id, remark,account_num,is_cooperation, status, create_time, update_time, service_type, cooperation_type, cooperation_time_type, cooperation_start_time, cooperation_end_time, associate_screening_org_id
    </sql>

    <select id="getHospitalListByCondition" resultMap="BaseResponseMap">
        select
        <include refid="Base_Column_List"/>
        from m_hospital h
                where 1 = 1
        <if test="govDeptId != null and govDeptId.size() != 0">
            and h.gov_dept_id in
            <foreach collection="govDeptId" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.status != null">
            and h.status = #{query.status}
        </if>
        <if test="query.name != null and query.name != ''">
            and h.name like CONCAT('%', #{query.name}, '%')
        </if>
        <if test="query.type != null">
            and h.type = #{query.type}
        </if>
        <if test="query.serviceType != null">
            and h.service_type = #{query.serviceType}
        </if>
        <if test="query.kind != null">
            and h.kind = #{query.kind}
        </if>
        <if test="query.level != null">
            and h.level = #{query.level}
        </if>
        <if test="query.districtId != null">
            and h.district_id = #{query.districtId}
        </if>
        <if test="@Ognl@isNotEmpty(query.cooperationType)">
            and h.cooperation_type = #{query.cooperationType}
        </if>
        <if test="@Ognl@isNotEmpty(query.expireDayGt) and query.expireDayGt != -1">
            and LEAST(DATEDIFF(cooperation_end_time, cooperation_start_time),DATEDIFF(cooperation_end_time, now())) &gt; #{query.expireDayGt}
        </if>
        <if test="@Ognl@isNotEmpty(query.expireDayLe) and query.expireDayLe != -1">
            and LEAST(DATEDIFF(cooperation_end_time, cooperation_start_time),DATEDIFF(cooperation_end_time, now())) &lt;= #{query.expireDayLe}
        </if>
        <if test="@Ognl@isNotEmpty(query.cooperationEndTimeGe)">
            and h.cooperation_end_time &gt;= #{query.cooperationEndTimeGe}
        </if>
        <if test="@Ognl@isNotEmpty(query.cooperationEndTimeLe)">
            and h.cooperation_end_time &lt;= #{query.cooperationEndTimeLe}
        </if>
        <if test="query.startTime !=null and query.startTime !=''">
            and h.cooperation_end_time &gt;= #{query.startTime}
        </if>
        <if test="query.endTime !=null and query.endTime !=''">
            and h.cooperation_end_time &lt;= #{query.endTime}
        </if>
        <if test="query.serviceType != null">
            and h.service_type = #{query.serviceType}
        </if>
        order by h.create_time desc
    </select>

    <select id="getBy" resultMap="BaseResultMap">
        select *
        from m_hospital
        <include refid="Base_Where_Clause" />
    </select>

    <select id="getByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_hospital
        <include refid="Base_Where_Clause"/>
    </select>

    <select id="getByNameNeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_hospital where name = #{name}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>

    <select id="getHospitalByName" resultMap="BaseResponseMap">
        select *
        from m_hospital where status = 0
        <if test="name != null and name != ''">
            and name like CONCAT('%', #{name}, '%')
        </if>
        <if test="codePre != null">
            and district_province_code = #{codePre}
        </if>
    </select>

    <select id="getByCooperationTimeAndStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_hospital
        <!-- 已过期但状态为可用 或 已开始合作但状态为停用 -->
        where
        (cooperation_end_time &lt; #{date} and `status` = 0)
        or
        (cooperation_start_time &lt; #{date} and cooperation_end_time &gt; #{date} and `status` = 1)
    </select>

    <update id="updateHospitalStatus">
        update m_hospital
        set status = #{targetStatus}
        where id = #{id}
        and status = #{sourceStatus}
    </update>

    <select id="getByCooperationEndTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_hospital
        where cooperation_start_time &lt; #{start} and
        Date(cooperation_end_time) = Date(#{end})
    </select>

</mapper>
