<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.core.hospital.domain.mapper.HospitalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.core.hospital.domain.model.Hospital">
    </resultMap>

    <resultMap id="BaseResponseMap" type="com.wupol.myopia.business.core.hospital.domain.dto.HospitalResponseDTO">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(createUserId)">and `create_user_id` = #{createUserId}</if>
                <if test="@Ognl@isNotEmpty(govDeptId)">and `gov_dept_id` = #{govDeptId}</if>
                <if test="@Ognl@isNotEmpty(districtId)">and `district_id` = #{districtId}</if>
                <if test="@Ognl@isNotEmpty(districtProvinceCode)">and `district_province_code` = #{districtProvinceCode}</if>
                <if test="@Ognl@isNotEmpty(districtDetail)">and `district_detail` = #{districtDetail}</if>
                <if test="@Ognl@isNotEmpty(name)">and `name` = #{name}</if>
                <if test="@Ognl@isNotEmpty(level)">and `level` = #{level}</if>
                <if test="@Ognl@isNotEmpty(levelDesc)">and `level_desc` = #{levelDesc}</if>
                <if test="@Ognl@isNotEmpty(type)">and `type` = #{type}</if>
                <if test="@Ognl@isNotEmpty(kind)">and `kind` = #{kind}</if>
                <if test="@Ognl@isNotEmpty(provinceCode)">and `province_code` = #{provinceCode}</if>
                <if test="@Ognl@isNotEmpty(cityCode)">and `city_code` = #{cityCode}</if>
                <if test="@Ognl@isNotEmpty(areaCode)">and `area_code` = #{areaCode}</if>
                <if test="@Ognl@isNotEmpty(townCode)">and `town_code` = #{townCode}</if>
                <if test="@Ognl@isNotEmpty(address)">and `address` = #{address}</if>
                <if test="@Ognl@isNotEmpty(avatarFileId)">and `avatar_file_id` = #{avatarFileId}</if>
                <if test="@Ognl@isNotEmpty(remark)">and `remark` = #{remark}</if>
                <if test="@Ognl@isNotEmpty(status)">and `status` = #{status}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>

                <!-- 模糊查询 -->
                <if test="nameLike != null">and `name` like CONCAT("%",#{nameLike},"%")</if>
                <if test="noLike != null">and hospital_no like CONCAT("%",#{noLike},"%")</if>
                <if test="code != null">
                    and (city_code = #{code} or area_code = #{code} or town_code = #{code})
                </if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_user_id, gov_dept_id, district_id, district_province_code, district_detail, name, level, level_desc, type, kind, province_code, city_code, area_code, town_code, address, avatar_file_id, remark, status, create_time, update_time
    </sql>

    <select id="getHospitalListByCondition" resultMap="BaseResponseMap">
        select
        <include refid="Base_Column_List"/>
        from m_hospital h
                where h.gov_dept_id in
        <foreach collection="govDeptId" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="status != null">
            and h.status = #{status}
        </if>
        <if test="name != null and name != ''">
            and h.name like CONCAT('%', #{name}, '%')
        </if>
        <if test="type != null">
            and h.type = #{type}
        </if>
        <if test="kind != null">
            and h.kind = #{kind}
        </if>
        <if test="level != null">
            and h.level = #{level}
        </if>
        <if test="districtId != null">
            and h.district_id = #{districtId}
        </if>
        order by h.create_time desc
    </select>

    <select id="getBy" resultMap="BaseResultMap">
        select *
        from m_hospital
        <include refid="Base_Where_Clause" />
    </select>

    <select id="getByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_hospital
        <include refid="Base_Where_Clause"/>
    </select>

    <select id="getByNameNeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_hospital where name = #{name}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>

    <select id="getHospitalByName" resultMap="BaseResponseMap">
        select *
        from m_hospital where status = 0
        <if test="name != null and name != ''">
            and name like CONCAT('%', #{name}, '%')
        </if>
        <if test="codePre != null">
            and district_province_code = #{codePre}
        </if>
    </select>
</mapper>
