<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.core.hospital.domain.mapper.OrgCooperationHospitalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.core.hospital.domain.model.OrgCooperationHospital">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(screeningOrgId)">and `screening_org_id` = #{screeningOrgId}</if>
                <if test="@Ognl@isNotEmpty(hospitalId)">and `hospital_id` = #{hospitalId}</if>
                <if test="@Ognl@isNotEmpty(isTop)">and `is_top` = #{isTop}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, screening_org_id, hospital_id, is_top, create_time, update_time
    </sql>

    <insert id="batchSaveOrgCooperationHospital">
        insert into m_org_cooperation_hospital (screening_org_id, hospital_id)
                values
        <foreach collection="hospitalIds" item="hospitalId" index="index" separator=",">
            (#{screeningOrgId}, #{hospitalId})
        </foreach>
    </insert>

    <update id="updateByScreeningOrgId">
        update m_org_cooperation_hospital
        set is_top = 0
        where screening_org_id = #{screeningOrgId,jdbcType=INTEGER}
    </update>

    <select id="getByScreeningOrgId"
            resultType="com.wupol.myopia.business.core.hospital.domain.dto.CooperationHospitalDTO">
        select
        <include refid="Base_Column_List"/>
        from m_org_cooperation_hospital
        where screening_org_id = #{screeningOrgId,jdbcType=INTEGER}
        order by is_top desc, create_time desc
    </select>

    <select id="countByScreeningOrgId" resultType="java.lang.Integer">
        select count(1)
        from m_org_cooperation_hospital
        where screening_org_id = #{screeningOrgId,jdbcType=INTEGER}
    </select>

    <select id="countByOrgIdAndHospitalIds" resultType="java.lang.Integer">
        select count(1)
        from m_org_cooperation_hospital
                where screening_org_id = #{screeningOrgId}
                  and hospital_id in
        <foreach collection="hospitalIds" open="(" close=")" separator="," item="hospitalId">
            #{hospitalId}
        </foreach>
    </select>

    <select id="getSuggestHospital" resultType="java.lang.Integer">
        select hospital_id
        from m_org_cooperation_hospital
        where screening_org_id = #{screeningOrgId}
        order by is_top desc, create_time desc
        limit 1
    </select>
</mapper>
