<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.core.hospital.domain.mapper.PreschoolCheckRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.core.hospital.domain.model.PreschoolCheckRecord">
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="outer_eye" property="outerEye"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="eye_disease_factor" property="eyeDiseaseFactor"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="light_reaction" property="lightReaction"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="blink_reflex" property="blinkReflex"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="red_ball_test" property="redBallTest"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="visual_behavior_observation" property="visualBehaviorObservation"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="red_reflex" property="redReflex"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="ocular_inspection" property="ocularInspection"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="vision_data" property="visionData"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="monocular_masking_aversion_test" property="monocularMaskingAversionTest"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="refraction_data" property="refractionData"/>
    </resultMap>

    <resultMap id="PreschoolCheckRecordDTO" type="com.wupol.myopia.business.core.hospital.domain.dto.PreschoolCheckRecordDTO" extends="BaseResultMap">
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="special_medical" property="specialMedical"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="disease_medical" property="diseaseMedical"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="family_info" property="familyInfo"/>
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(studentId)">and `student_id` = #{studentId}</if>
                <if test="@Ognl@isNotEmpty(hospitalId)">and `hospital_id` = #{hospitalId}</if>
                <if test="@Ognl@isNotEmpty(isReferral)">and `is_referral` = #{isReferral}</if>
                <if test="@Ognl@isNotEmpty(fromReferralId)">and `from_referral_id` = #{fromReferralId}</if>
                <if test="@Ognl@isNotEmpty(monthAge)">and `month_age` = #{monthAge}</if>
                <if test="@Ognl@isNotEmpty(outerEye)">and `outer_eye` = #{outerEye}</if>
                <if test="@Ognl@isNotEmpty(eyeDiseaseFactor)">and `eye_disease_factor` = #{eyeDiseaseFactor}</if>
                <if test="@Ognl@isNotEmpty(lightReaction)">and `light_reaction` = #{lightReaction}</if>
                <if test="@Ognl@isNotEmpty(blinkReflex)">and `blink_reflex` = #{blinkReflex}</if>
                <if test="@Ognl@isNotEmpty(redBallTest)">and `red_ball_test` = #{redBallTest}</if>
                <if test="@Ognl@isNotEmpty(visualBehaviorObservation)">and `visual_behavior_observation` = #{visualBehaviorObservation}</if>
                <if test="@Ognl@isNotEmpty(redReflex)">and `red_reflex` = #{redReflex}</if>
                <if test="@Ognl@isNotEmpty(ocularInspection)">and `ocular_inspection` = #{ocularInspection}</if>
                <if test="@Ognl@isNotEmpty(visionData)">and `vision_data` = #{visionData}</if>
                <if test="@Ognl@isNotEmpty(monocularMaskingAversionTest)">and `monocular_masking_aversion_test` = #{monocularMaskingAversionTest}</if>
                <if test="@Ognl@isNotEmpty(refractionData)">and `refraction_data` = #{refractionData}</if>
                <if test="@Ognl@isNotEmpty(guideContent)">and `guide_content` = #{guideContent}</if>
                <if test="@Ognl@isNotEmpty(conclusion)">and `conclusion` = #{conclusion}</if>
                <if test="@Ognl@isNotEmpty(status)">and `status` = #{status}</if>
                <if test="@Ognl@isNotEmpty(toReferralId)">and `to_referral_id` = #{toReferralId}</if>
                <if test="@Ognl@isNotEmpty(receiptId)">and `receipt_id` = #{receiptId}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_id, hospital_id, is_referral, from_referral_id, month_age, outer_eye, eye_disease_factor, light_reaction, blink_reflex,
        red_ball_test, visual_behavior_observation, red_reflex, ocular_inspection, vision_data, monocular_masking_aversion_test,
        refraction_data, guide_content, conclusion, status, to_referral_id, receipt_id, update_time, create_time
    </sql>

    <select id="getDetails" resultMap="PreschoolCheckRecordDTO">
        select pcr.*, hs.`name` as student_name, hs.gender, hs.record_no, hs.birthday, hs.id_card, hs.sno, hs.parent_phone,
        hs.is_newborn_without_id_card as has_id_card, hs.family_info,
        h.`name` as hospital_name, rr.to_hospital, rr.special_medical, rr.disease_medical, rr.conclusion as referral_conclusion
        from h_preschool_check_record pcr
        INNER JOIN h_hospital_student hs
        on pcr.student_id = hs.student_id AND hs.hospital_id = pcr.hospital_id
        LEFT JOIN m_hospital h
        ON h.id = pcr.hospital_id
        LEFT JOIN h_referral_record rr
        ON rr.id = pcr.to_referral_id
        where pcr.id = #{id}
    </select>

    <select id="getListByCondition" resultMap="PreschoolCheckRecordDTO">
        SELECT
            pcr.id, pcr.is_referral, pcr.student_id, pcr.hospital_id, pcr.from_referral_id, pcr.month_age, pcr.guide_content, pcr.conclusion,
            pcr.status, pcr.to_referral_id, pcr.receipt_id, pcr.update_time, pcr.create_time,
            hs.id as hospital_student_id,
            hs.`name` AS student_name,
            hs.gender,
            hs.record_no,
            hs.birthday,
            hs.id_card,
            h.`name` AS hospital_name,
            rr.to_hospital, rr.referral_status, rr.conclusion as referral_conclusion,
            rr.special_medical, rr.disease_medical
        FROM
            h_preschool_check_record pcr
            INNER JOIN h_hospital_student hs ON pcr.student_id = hs.student_id AND hs.hospital_id = pcr.hospital_id
            LEFT JOIN m_hospital h ON h.id = pcr.hospital_id
            LEFT JOIN h_referral_record rr ON rr.id = pcr.to_referral_id
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(query.hospitalId)">and pcr.`hospital_id` = #{query.hospitalId}</if>
                <if test="@Ognl@isNotEmpty(query.studentId)">and pcr.`student_id` = #{query.studentId}</if>
                <if test="@Ognl@isNotEmpty(query.studentName)">and hs.`name` like CONCAT('%', #{query.studentName}, '%')</if>
                <if test="@Ognl@isNotEmpty(query.hospitalName)">and h.`name` like CONCAT('%', #{query.hospitalName}, '%')</if>
                <if test="@Ognl@isNotEmpty(query.toHospital)">and rr.`to_hospital` like CONCAT('%', #{query.toHospital}, '%')</if>
                <if test="@Ognl@isNotEmpty(query.referralStatus)">and rr.`referral_status` = #{query.referralStatus}</if>
                <if test="@Ognl@isNotEmpty(query.checkDateStart)">and Date(pcr.`create_time`) &lt;= Date(#{query.checkDateStart})</if>
                <if test="@Ognl@isNotEmpty(query.checkDateEnd)">and Date(pcr.`create_time`) &gt;= Date(#{query.checkDateEnd})</if>
                <if test="@Ognl@isNotEmpty(query.isToReferral) and query.isToReferral == 0">and pcr.to_referral_id is null</if>
                <if test="@Ognl@isNotEmpty(query.isToReferral) and query.isToReferral == 1">and pcr.to_referral_id is not null</if>
                <!-- TODO wulizhou 未实现
                <if test="@Ognl@isNotEmpty(query.doctorsName)">and rr.`to_hospital` = #{query.doctorsName}</if>
                 -->
            </trim>
        </where>
        order by pcr.update_time desc
    </select>

</mapper>
