<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.core.hospital.domain.mapper.ReceiptListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.core.hospital.domain.model.ReceiptList">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(studentId)">and `student_id` = #{studentId}</if>
                <if test="@Ognl@isNotEmpty(specialMedical)">and `special_medical` = #{specialMedical}</if>
                <if test="@Ognl@isNotEmpty(medicalResult)">and `medical_result` = #{medicalResult}</if>
                <if test="@Ognl@isNotEmpty(furtherReferral)">and `further_referral` = #{furtherReferral}</if>
                <if test="@Ognl@isNotEmpty(referralHospital)">and `referral_hospital` = #{referralHospital}</if>
                <if test="@Ognl@isNotEmpty(fromHospitalId)">and `from_hospital_id` = #{fromHospitalId}</if>
                <if test="@Ognl@isNotEmpty(fromDoctorId)">and `from_doctor_id` = #{fromDoctorId}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_id, special_medical, medical_result, further_referral, referral_hospital, from_hospital_id, from_doctor_id, create_time
    </sql>

</mapper>
