<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.core.hospital.domain.mapper.ReferralRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.core.hospital.domain.model.ReferralRecord">
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="special_medical" property="specialMedical"/>
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="disease_medical" property="diseaseMedical"/>
    </resultMap>

    <resultMap id="ReferralDTO" type="com.wupol.myopia.business.core.hospital.domain.dto.ReferralDTO" extends="BaseResultMap">
        <result typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" column="family_info" property="familyInfo"/>
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(studentId)">and `student_id` = #{studentId}</if>
                <if test="@Ognl@isNotEmpty(applyTime)">and `apply_time` = #{applyTime}</if>
                <if test="@Ognl@isNotEmpty(fromHospitalId)">and `from_hospital_id` = #{fromHospitalId}</if>
                <if test="@Ognl@isNotEmpty(fromHospital)">and `from_hospital` = #{fromHospital}</if>
                <if test="@Ognl@isNotEmpty(fromDoctorId)">and `from_doctor_id` = #{fromDoctorId}</if>
                <if test="@Ognl@isNotEmpty(fromDoctor)">and `from_doctor` = #{fromDoctor}</if>
                <if test="@Ognl@isNotEmpty(toHospitalId)">and `to_hospital_id` = #{toHospitalId}</if>
                <if test="@Ognl@isNotEmpty(toHospital)">and `to_hospital` = #{toHospital}</if>
                <if test="@Ognl@isNotEmpty(toDepartment)">and `to_department` = #{toDepartment}</if>
                <if test="@Ognl@isNotEmpty(specialMedical)">and `special_medical` = #{specialMedical}</if>
                <if test="@Ognl@isNotEmpty(diseaseMedical)">and `disease_medical` = #{diseaseMedical}</if>
                <if test="@Ognl@isNotEmpty(conclusion)">and `conclusion` = #{conclusion}</if>
                <if test="@Ognl@isNotEmpty(referralStatus)">and `referral_status` = #{referralStatus}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_id, apply_time, from_hospital_id, from_hospital, from_doctor_id, from_doctor, to_hospital_id, to_hospital,
        to_department, special_medical, disease_medical, conclusion, referral_status, update_time, create_time
    </sql>

    <select id="getDetails" resultMap="ReferralDTO">
        select rr.*, hs.`name` as student_name, hs.gender, hs.record_no, hs.birthday, hs.id_card, hs.family_info, pcr.month_age
        from h_referral_record rr
        INNER JOIN h_hospital_student hs
        on rr.student_id = hs.student_id and hs.hospital_id = rr.from_hospital_id
				LEFT JOIN h_preschool_check_record pcr
				on pcr.to_referral_id = rr.id
        where rr.id = #{id}
    </select>

    <select id="getByStudentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from h_referral_record
        where student_id = #{studentId}
        order by update_time desc;
    </select>

</mapper>
