<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.core.government.domain.mapper.GovDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.core.government.domain.model.GovDept">
    </resultMap>
    <!-- 不能分页查询 -->
    <resultMap id="GovDeptDTO" type="com.wupol.myopia.business.core.government.domain.dto.GovDeptDTO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pid" property="pid"/>
        <result column="district_id" property="districtId"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="district" ofType="com.wupol.myopia.business.core.common.domain.model.District">
            <id column="dist_id" property="id"/>
            <result column="district_name" property="name"/>
            <result column="code" property="code"/>
            <result column="parent_code" property="parentCode"/>
            <result column="area_code" property="areaCode"/>
            <result column="monitor_code" property="monitorCode"/>
        </collection>
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and gd.`id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(pid)">and gd.`pid` = #{pid}</if>
                <if test="@Ognl@isNotEmpty(districtId)">and gd.`district_id` = #{districtId}</if>
                <if test="@Ognl@isNotEmpty(createUserId)">and gd.`create_user_id` = #{createUserId}</if>
                <if test="@Ognl@isNotEmpty(status)">and gd.`status` = #{status}</if>
                <if test="@Ognl@isNotEmpty(remark)">and gd.`remark` = #{remark}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and gd.`create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and gd.`update_time` = #{updateTime}</if>
                <!-- 模糊查询 -->
                <if test="@Ognl@isNotEmpty(name)">and gd.`name` like CONCAT("%", #{name}, "%")</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        gd.id, gd.name, gd.pid, gd.district_id, gd.create_user_id, gd.status, gd.remark, gd.create_time, gd.update_time
    </sql>

    <resultMap id="treeVoMap" type="com.wupol.myopia.business.core.government.domain.model.GovDept">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <collection property="child" ofType="com.wupol.myopia.business.core.government.domain.model.GovDept" column="{pid=id}" select="selectGovDeptTreeByPid"/>
    </resultMap>

    <!--级联查询部门树-->
    <select id="selectGovDeptTreeByPid" resultMap="GovDeptDTO" >
        select gd.*, d.id as dist_id, d.name as district_name, d.code, d.parent_code
        from m_government_department gd
        left join m_district d ON gd.district_id = d.id
        where pid = #{pid}
    </select>

    <resultMap id="idTreeMap" type="com.wupol.myopia.business.core.government.domain.model.GovDept">
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="district_id" property="districtId" jdbcType="INTEGER" />
        <collection property="child" ofType="com.wupol.myopia.business.core.government.domain.model.GovDept" column="{pid=id}" select="selectIdTreeByPid"/>
    </resultMap>

    <!-- 级联查询部门ID树 -->
    <select id="selectIdTreeByPid" resultMap="idTreeMap" >
        select id, district_id from m_government_department where pid = #{pid}
    </select>

    <select id="selectGovDeptWithDistrictByIds" resultMap="GovDeptDTO">
        SELECT
            gd.*, d.name as distrct_name, d.code, d.parent_code
        FROM
            m_government_department gd
            LEFT JOIN m_district d ON gd.district_id = d.id
        WHERE
          gd.id IN <foreach collection="ids" open="(" close=")" separator="," item="id">#{id}</foreach>
    </select>

    <select id="selectGovDeptList" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List"/>
        from m_government_department gd
          <include refid="Base_Where_Clause"/>
    </select>

    <select id="findByIdAndNeStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_government_department gd
        where id = #{id}
          and status != #{status}
        limit 1
    </select>

    <select id="findByPidAndNeStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_government_department gd where status != #{status}
        <if test="pids != null and pids.size() != 0">
            and pid in
            <foreach collection="pids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
