<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="PATTERN">{"serviceName": "myopia-gateway", "thread": "%thread", "host": "%host", "logger": "%logger", "level": "%level", "message": "[%c{2}:%L] - %message"}%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{2}:%L - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <!-- Sentry -->
        <Sentry name="sentry" />
    </Appenders>
    <Loggers>
        <Logger name="com.wupol" level="INFO" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <!-- 默认level为error级别 -->
        <Root>
            <AppenderRef ref="Console-Appender"/>
            <appender-ref ref="sentry" level="WARN" />
        </Root>
    </Loggers>
</Configuration>