<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.parent.domain.mapper.ParentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.parent.domain.model.Parent">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(openId)">and `open_id` = #{openId}</if>
                <if test="@Ognl@isNotEmpty(hashKey)">and `hash_key` = #{hashKey}</if>
                <if test="@Ognl@isNotEmpty(wxHeaderImgUrl)">and `wx_header_img_url` = #{wxHeaderImgUrl}</if>
                <if test="@Ognl@isNotEmpty(wxNickname)">and `wx_nickname` = #{wxNickname}</if>
                <if test="@Ognl@isNotEmpty(userId)">and `user_id` = #{userId}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, open_id, hash_key, wx_header_img_url, wx_nickname, user_id, create_time, update_time
    </sql>

</mapper>
