<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.migrate.domain.mapper.SysDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.migrate.domain.model.SysDept">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(deptId)">and `dept_id` = #{deptId}</if>
                <if test="@Ognl@isNotEmpty(pid)">and `pid` = #{pid}</if>
                <if test="@Ognl@isNotEmpty(pids)">and `pids` = #{pids}</if>
                <if test="@Ognl@isNotEmpty(simpleName)">and `simple_name` = #{simpleName}</if>
                <if test="@Ognl@isNotEmpty(fullName)">and `full_name` = #{fullName}</if>
                <if test="@Ognl@isNotEmpty(hierarchy)">and `hierarchy` = #{hierarchy}</if>
                <if test="@Ognl@isNotEmpty(province)">and `province` = #{province}</if>
                <if test="@Ognl@isNotEmpty(city)">and `city` = #{city}</if>
                <if test="@Ognl@isNotEmpty(region)">and `region` = #{region}</if>
                <if test="@Ognl@isNotEmpty(description)">and `description` = #{description}</if>
                <if test="@Ognl@isNotEmpty(version)">and `version` = #{version}</if>
                <if test="@Ognl@isNotEmpty(sort)">and `sort` = #{sort}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>
                <if test="@Ognl@isNotEmpty(createUser)">and `create_user` = #{createUser}</if>
                <if test="@Ognl@isNotEmpty(updateUser)">and `update_user` = #{updateUser}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept_id, pid, pids, simple_name, full_name, hierarchy, province, city, region, description, version, sort, create_time, update_time, create_user, update_user
    </sql>

</mapper>
