<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.core.screening.flow.domain.mapper.StatRescreenMapper">

    <select id="countByPlanAndSchool" resultType="int">
        SELECT COUNT(*) FROM m_stat_rescreen
        WHERE plan_id = #{planId} AND school_id = #{schoolId}
        and create_time <![CDATA[ <= ]]> #{createTime}
    </select>

    <delete id="deleteByScreeningTime">
        DELETE FROM m_stat_rescreen
        WHERE DATE(screening_time) = DATE(#{screeningTime})
    </delete>

    <select id="getSchoolDate" resultType="java.util.Date">
        select screening_time
        from m_stat_rescreen
        where plan_id = #{planId}
          and school_id = #{schoolId}
        and create_time <![CDATA[ <= ]]> #{createTime}
        order by create_time desc
    </select>

    <select id="getByPlanAndSchool" resultType="com.wupol.myopia.business.core.screening.flow.domain.model.StatRescreen">
        select * from m_stat_rescreen where plan_id = #{planId}
        and school_id = #{schoolId}
        <if test="screeningTime != null">
            and DATE(screening_time) = DATE(#{screeningTime})
        </if>
    </select>
</mapper>
