<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.core.screening.flow.domain.mapper.StatRescreenMapper">

    <select id="countByPlanAndSchool" resultType="int">
        SELECT COUNT(*) FROM m_stat_rescreen
        WHERE plan_id = #{planId} AND school_id = #{schoolId}
    </select>
    

</mapper>
