<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.management.domain.mapper.DistrictAttentiveObjectsStatisticMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.management.domain.model.DistrictAttentiveObjectsStatistic">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(screeningNoticeId)">and `screening_notice_id` = #{screeningNoticeId}</if>
                <if test="@Ognl@isNotEmpty(screeningTaskId)">and `screening_task_id` = #{screeningTaskId}</if>
                <if test="@Ognl@isNotEmpty(districtId)">and `district_id` = #{districtId}</if>
                <if test="@Ognl@isNotEmpty(visionLabel0Numbers)">and `vision_label0_numbers` = #{visionLabel0Numbers}</if>
                <if test="@Ognl@isNotEmpty(visionLabel0Ratio)">and `vision_label0_ratio` = #{visionLabel0Ratio}</if>
                <if test="@Ognl@isNotEmpty(visionLabel1Numbers)">and `vision_label1_numbers` = #{visionLabel1Numbers}</if>
                <if test="@Ognl@isNotEmpty(visionLabel1Ratio)">and `vision_label1_ratio` = #{visionLabel1Ratio}</if>
                <if test="@Ognl@isNotEmpty(visionLabel2Numbers)">and `vision_label2_numbers` = #{visionLabel2Numbers}</if>
                <if test="@Ognl@isNotEmpty(visionLabel2Ratio)">and `vision_label2_ratio` = #{visionLabel2Ratio}</if>
                <if test="@Ognl@isNotEmpty(visionLabel3Numbers)">and `vision_label3_numbers` = #{visionLabel3Numbers}</if>
                <if test="@Ognl@isNotEmpty(visionLabel3Ratio)">and `vision_label3_ratio` = #{visionLabel3Ratio}</if>
                <if test="@Ognl@isNotEmpty(keyWarningNumbers)">and `key_warning_numbers` = #{keyWarningNumbers}</if>
                <if test="@Ognl@isNotEmpty(studentNumbers)">and `student_numbers` = #{studentNumbers}</if>
                <if test="@Ognl@isNotEmpty(isTotal)">and `is_total` = #{isTotal}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, is_total, screening_notice_id, screening_task_id, district_id, vision_label0_numbers, vision_label0_ratio, vision_label1_numbers, vision_label1_ratio, vision_label2_numbers, vision_label2_ratio, vision_label3_numbers, vision_label3_ratio, key_warning_numbers, student_numbers, update_time, create_time
    </sql>

    <insert id="batchSaveOrUpdate">
        INSERT INTO m_district_attentive_objects_statistic
        (is_total, screening_notice_id, screening_task_id, district_id,
        vision_label0_numbers, vision_label0_ratio, vision_label1_numbers, vision_label1_ratio,
        vision_label2_numbers, vision_label2_ratio, vision_label3_numbers, vision_label3_ratio,
        key_warning_numbers, student_numbers)
        VALUES
        <foreach collection="list" item="entity" separator=",">
            (#{entity.isTotal}, #{entity.screeningNoticeId}, #{entity.screeningTaskId}, #{entity.districtId},
            #{entity.visionLabel0Numbers}, #{entity.visionLabel0Ratio}, #{entity.visionLabel1Numbers}, #{entity.visionLabel1Ratio},
            #{entity.visionLabel2Numbers}, #{entity.visionLabel2Ratio}, #{entity.visionLabel3Numbers}, #{entity.visionLabel3Ratio},
            #{entity.keyWarningNumbers}, #{entity.studentNumbers})
        </foreach>
        ON DUPLICATE KEY UPDATE
        vision_label0_numbers=values(vision_label0_numbers),vision_label0_ratio=values(vision_label0_ratio),
        vision_label1_numbers=values(vision_label1_numbers),vision_label1_ratio=values(vision_label1_ratio),
        vision_label2_numbers=values(vision_label2_numbers),vision_label2_ratio=values(vision_label2_ratio),
        vision_label3_numbers=values(vision_label3_numbers),vision_label3_ratio=values(vision_label3_ratio),
        key_warning_numbers=values(key_warning_numbers),student_numbers=values(student_numbers),
        update_time = now()
    </insert>
</mapper>
