<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.management.domain.mapper.SchoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.management.domain.model.School">
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.wupol.myopia.business.management.domain.dto.SchoolDto">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(schoolNo)">and `school_no` = #{schoolNo}</if>
                <if test="@Ognl@isNotEmpty(createUserId)">and `create_user_id` = #{createUserId}</if>
                <if test="@Ognl@isNotEmpty(govDeptId)">and `gov_dept_id` = #{govDeptId}</if>
                <if test="@Ognl@isNotEmpty(name)">and `name` = #{name}</if>
                <if test="@Ognl@isNotEmpty(kind)">and `kind` = #{kind}</if>
                <if test="@Ognl@isNotEmpty(kindDesc)">and `kind_desc` = #{kindDesc}</if>
                <if test="@Ognl@isNotEmpty(lodgeStatus)">and `lodge_status` = #{lodgeStatus}</if>
                <if test="@Ognl@isNotEmpty(type)">and `type` = #{type}</if>
                <if test="@Ognl@isNotEmpty(totalOnline)">and `total_online` = #{totalOnline}</if>
                <if test="@Ognl@isNotEmpty(totalOnlineMale)">and `total_online_male` = #{totalOnlineMale}</if>
                <if test="@Ognl@isNotEmpty(totalOnlineFemale)">and `total_online_female` = #{totalOnlineFemale}</if>
                <if test="@Ognl@isNotEmpty(totalLodge)">and `total_lodge` = #{totalLodge}</if>
                <if test="@Ognl@isNotEmpty(totalLodgeMale)">and `total_lodge_male` = #{totalLodgeMale}</if>
                <if test="@Ognl@isNotEmpty(totalLodgeFemale)">and `total_lodge_female` = #{totalLodgeFemale}</if>
                <if test="@Ognl@isNotEmpty(provinceCode)">and `province_code` = #{provinceCode}</if>
                <if test="@Ognl@isNotEmpty(cityCode)">and `city_code` = #{cityCode}</if>
                <if test="@Ognl@isNotEmpty(areaCode)">and `area_code` = #{areaCode}</if>
                <if test="@Ognl@isNotEmpty(townCode)">and `town_code` = #{townCode}</if>
                <if test="@Ognl@isNotEmpty(address)">and `address` = #{address}</if>
                <if test="@Ognl@isNotEmpty(remark)">and `remark` = #{remark}</if>
                <if test="@Ognl@isNotEmpty(status)">and `status` = #{status}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>

                <!-- 模糊查询 -->
                <if test="nameLike != null">and `name` like CONCAT("%",#{nameLike},"%")</if>
                <if test="noLike != null">and school_no like CONCAT("%",#{noLike},"%")</if>
                <if test="code != null">
                    and (city_code = #{code} or area_code = #{code} or town_code = #{code})
                </if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, school_no, create_user_id, gov_dept_id, name, kind, kind_desc, lodge_status, type, total_online, total_online_male, total_online_female, total_lodge, total_lodge_male, total_lodge_female, province_code, city_code, area_code, town_code, address, remark, status, create_time, update_time
    </sql>

    <select id="getSchoolListByCondition" resultMap="BaseResultMapDto">
        select
        <include refid="Base_Column_List"/>
        from m_school ms
                where ms.gov_dept_id in
        <foreach collection="govDeptId" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and ms.status != 2
        <if test="name != null and name != ''">
            and ms.name like CONCAT('%', #{name}, '%')
        </if>
        <if test="schoolNo != null and schoolNo != ''">
            and ms.school_no like CONCAT('%', #{schoolNo}, '%')
        </if>
        <if test="type != null">
            and ms.type = #{type}
        </if>
        <if test="code != null and code != ''">
            and (ms.city_code like CONCAT('%', #{code}, '%') or ms.area_code like CONCAT('%', #{code}, '%'))
        </if>
        order by ms.create_time desc
    </select>

    <select id="getLastSchoolByNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_school m
        where m.school_no like CONCAT('%', #{code}, '%')
        order by m.school_no + 0 desc
        limit 1
    </select>

    <select id="getExportData" resultMap="BaseResultMap">
        select *
        from m_school
        <include refid="Base_Where_Clause" />
    </select>
</mapper>
