<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.management.domain.mapper.ScreeningPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.management.domain.model.ScreeningPlan">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(screeningTaskId)">and `screening_task_id` = #{screeningTaskId}</if>
                <if test="@Ognl@isNotEmpty(title)">and `title` = #{title}</if>
                <if test="@Ognl@isNotEmpty(content)">and `content` = #{content}</if>
                <if test="@Ognl@isNotEmpty(startTime)">and `start_time` = #{startTime}</if>
                <if test="@Ognl@isNotEmpty(endTime)">and `end_time` = #{endTime}</if>
                <if test="@Ognl@isNotEmpty(govDeptId)">and `gov_dept_id` = #{govDeptId}</if>
                <if test="@Ognl@isNotEmpty(districtId)">and `district_id` = #{districtId}</if>
                <if test="@Ognl@isNotEmpty(orgId)">and `org_id` = #{orgId}</if>
                <if test="@Ognl@isNotEmpty(releaseStatus)">and `release_status` = #{releaseStatus}</if>
                <if test="@Ognl@isNotEmpty(releaseTime)">and `release_time` = #{releaseTime}</if>
                <if test="@Ognl@isNotEmpty(creatorId)">and `creator_id` = #{creatorId}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(operatorId)">and `operator_id` = #{operatorId}</if>
                <if test="@Ognl@isNotEmpty(operateTime)">and `operate_time` = #{operateTime}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, screening_task_id, title, content, start_time, end_time, gov_dept_id, district_id, org_id, release_status, release_time, creator_id, create_time, operator_id, operate_time
    </sql>

    <select id="getPlanLists" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_screening_plan msp where msp.id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        order by msp.create_time desc
    </select>
</mapper>
