<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.management.domain.mapper.ScreeningOrganizationStaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.management.domain.model.ScreeningOrganizationStaff">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(govDeptId)">and `gov_dept_id` = #{govDeptId}</if>
                <if test="@Ognl@isNotEmpty(screeningOrgId)">and `screening_org_id` = #{screeningOrgId}</if>
                <if test="@Ognl@isNotEmpty(userId)">and `user_id` = #{userId}</if>
                <if test="@Ognl@isNotEmpty(createUserId)">and `create_user_id` = #{createUserId}</if>
                <if test="@Ognl@isNotEmpty(remark)">and `remark` = #{remark}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>

            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gov_dept_id, screening_org_id, user_id, create_user_id, remark, create_time, update_time
    </sql>
    <select id="getByIds" resultMap="BaseResultMap">
        select *
        from m_screening_organization_staff
        where user_id in <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
    </select>

    <select id="getByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_screening_organization_staff
        <include refid="Base_Where_Clause"/>
    </select>
</mapper>
