<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.management.domain.mapper.ScreeningTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.management.domain.model.ScreeningTask">
    </resultMap>
    <resultMap id="VoResultMap" type="com.wupol.myopia.business.management.domain.vo.ScreeningTaskVo">
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultDtoMap" type="com.wupol.myopia.business.management.domain.dto.ScreeningTaskResponse">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(screeningNoticeId)">and `screening_notice_id` = #{screeningNoticeId}</if>
                <if test="@Ognl@isNotEmpty(title)">and `title` = #{title}</if>
                <if test="@Ognl@isNotEmpty(content)">and `content` = #{content}</if>
                <if test="@Ognl@isNotEmpty(startTime)">and `start_time` = #{startTime}</if>
                <if test="@Ognl@isNotEmpty(endTime)">and `end_time` = #{endTime}</if>
                <if test="@Ognl@isNotEmpty(govDeptId)">and `gov_dept_id` = #{govDeptId}</if>
                <if test="@Ognl@isNotEmpty(districtId)">and `district_id` = #{districtId}</if>
                <if test="@Ognl@isNotEmpty(releaseStatus)">and `release_status` = #{releaseStatus}</if>
                <if test="@Ognl@isNotEmpty(releaseTime)">and `release_time` = #{releaseTime}</if>
                <if test="@Ognl@isNotEmpty(createUserId)">and `create_user_id` = #{createUserId}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(operatorId)">and `operator_id` = #{operatorId}</if>
                <if test="@Ognl@isNotEmpty(operateTime)">and `operate_time` = #{operateTime}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, screening_notice_id, title, content, start_time, end_time, gov_dept_id, district_id, release_status, release_time, create_user_id, create_time, operator_id, operate_time
    </sql>

    <select id="getTaskByIds" resultMap="BaseResultDtoMap">
        select
        <include refid="Base_Column_List"/>
        from m_screening_task mst where mst.id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        order by mst.create_time desc
    </select>

    <select id="selectPageByQuery" resultMap="VoResultMap" parameterType="java.util.Map">
        SELECT
        mst.id, mst.screening_notice_id, mst.title, mst.start_time, mst.end_time, mst.content, mst.release_time, mst.release_status,
        mst.district_id, mst.gov_dept_id, mgd.name as gov_dept_name, mst.create_user_id, mst.create_time
        FROM
        m_screening_task mst
        LEFT JOIN m_government_department mgd ON mst.gov_dept_id = mgd.id
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(param.govDeptId)">and mst.`gov_dept_id` = #{param.govDeptId}</if>
                <if test="@Ognl@isNotEmpty(param.districtId)">and mst.`district_id` = #{param.districtId}</if>
                <if test="param.titleLike != null and param.titleLike != ''">
                    and mst.`title` like CONCAT('%',#{param.titleLike},'%')
                </if>
                <if test="param.createUserIds != null">
                    and mst.`create_user_id` in <foreach collection="param.createUserIds" open="(" close=")" separator="," item="item">#{item}</foreach>
                </if>
                <if test="param.startCreateTime != null and param.endCreateTime != null">
                    and <![CDATA[ DATE(mst.`start_time`) < DATE(#{param.endCreateTime})]]> and <![CDATA[ DATE(mst.`end_time`) >= DATE(#{param.startCreateTime})]]>
                </if>
            </trim>
        </where>
    </select>
</mapper>
