<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.management.domain.mapper.ScreeningPlanSchoolStudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.management.domain.model.ScreeningPlanSchoolStudent">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(screeningPlanId)">and `screening_plan_id` = #{screeningPlanId}</if>
                <if test="@Ognl@isNotEmpty(schoolId)">and `school_id` = #{schoolId}</if>
                <if test="@Ognl@isNotEmpty(districtId)">and `district_id` = #{districtId}</if>
                <if test="@Ognl@isNotEmpty(screeningTaskId)">and `screening_task_id` = #{screeningTaskId}</if>
                <if test="@Ognl@isNotEmpty(schoolName)">and `school_name` = #{schoolName}</if>
                <if test="@Ognl@isNotEmpty(className)">and `class_name` = #{className}</if>
                <if test="@Ognl@isNotEmpty(screeningOrgId)">and `screening_org_id` = #{screeningOrgId}</if>
                <if test="@Ognl@isNotEmpty(gradeName)">and `grade_name` = #{gradeName}</if>
                <if test="@Ognl@isNotEmpty(graderId)">and `grader_id` = #{graderId}</if>
                <if test="@Ognl@isNotEmpty(classId)">and `class_id` = #{classId}</if>
                <if test="@Ognl@isNotEmpty(studentId)">and `student_id` = #{studentId}</if>
                <if test="@Ognl@isNotEmpty(gender)">and `gender` = #{gender}</if>
                <if test="@Ognl@isNotEmpty(birthDate)">and `birth_date` = #{birthDate}</if>
                <if test="@Ognl@isNotEmpty(studentAge)">and `student_age` = #{studentAge}</if>
                <if test="@Ognl@isNotEmpty(studentSituation)">and `student_situation` = #{studentSituation}</if>
                <if test="@Ognl@isNotEmpty(studentNo)">and `student_no` = #{studentNo}</if>
                <if test="@Ognl@isNotEmpty(studentName)">and `student_name` = #{studentName}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, screening_plan_id,birth_date,gender, district_id, class_name, screening_org_id, school_id,gradeName , school_name, grader_id, class_id, student_id, student_age, student_situation, student_no, student_name, create_time
    </sql>
    <select id="selectStudentInfoWithResult"
            resultType="com.wupol.myopia.business.management.domain.dto.StudentScreeningInfoWithResultDTO">
        SELECT s.class_id AS clazzId, s.student_name,s.class_name AS clazzName, s.school_name, s.school_id, s.grade_id
        , s.grade_name, s.student_id, s.student_age, s.screening_plan_id, s.student_gender
        , s.task_id, r.biometric_data,r.update_time, r.computer_optometry, r.is_double_screen, r.vision_data
        , r.other_eye_diseases
        FROM m_screening_plan_school_student s
        LEFT JOIN m_vision_screening_result r ON s.id = r.screening_plan_school_student_id
        WHERE
        s.school_id = #{data.schoolId}
        <if test="data.clazzName != null">
            AND s.class_name = #{data.clazzName}
        </if>
        <if test="data.gradeName != null">
            AND s.grade_name = #{data.gradeName}
        </if>
        <if test="data.depId != null">
            AND s.screening_org_id = #{data.depId}
        </if>
    </select>


</mapper>
