<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.management.domain.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.management.domain.model.Student">
    </resultMap>

    <resultMap id="BaseResultMapDTO" type="com.wupol.myopia.business.management.domain.dto.StudentDTO">
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(schoolNo)">and `school_no` = #{schoolNo}</if>
                <if test="@Ognl@isNotEmpty(createUserId)">and `create_user_id` = #{createUserId}</if>
                <if test="@Ognl@isNotEmpty(sno)">and `sno` = #{sno}</if>
                <if test="@Ognl@isNotEmpty(gradeId)">and `grade_id` = #{gradeId}</if>
                <if test="@Ognl@isNotEmpty(classId)">and `class_id` = #{classId}</if>
                <if test="@Ognl@isNotEmpty(name)">and `name` = #{name}</if>
                <if test="@Ognl@isNotEmpty(gender)">and `gender` = #{gender}</if>
                <if test="@Ognl@isNotEmpty(birthday)">and `birthday` = #{birthday}</if>
                <if test="@Ognl@isNotEmpty(nation)">and `nation` = #{nation}</if>
                <if test="@Ognl@isNotEmpty(idCard)">and `id_card` = #{idCard}</if>
                <if test="@Ognl@isNotEmpty(parentPhone)">and `parent_phone` = #{parentPhone}</if>
                <if test="@Ognl@isNotEmpty(mpParentPhone)">and `mp_parent_phone` = #{mpParentPhone}</if>
                <if test="@Ognl@isNotEmpty(provinceCode)">and `province_code` = #{provinceCode}</if>
                <if test="@Ognl@isNotEmpty(cityCode)">and `city_code` = #{cityCode}</if>
                <if test="@Ognl@isNotEmpty(areaCode)">and `area_code` = #{areaCode}</if>
                <if test="@Ognl@isNotEmpty(townCode)">and `town_code` = #{townCode}</if>
                <if test="@Ognl@isNotEmpty(address)">and `address` = #{address}</if>
                <if test="@Ognl@isNotEmpty(currentSituation)">and `current_situation` = #{currentSituation}</if>
                <if test="@Ognl@isNotEmpty(visionLabel)">and `vision_label` = #{visionLabel}</if>
                <if test="@Ognl@isNotEmpty(screeningCount)">and `screening_count` = #{screeningCount}</if>
                <if test="@Ognl@isNotEmpty(questionnaireCount)">and `questionnaire_count` = #{questionnaireCount}</if>
                <if test="@Ognl@isNotEmpty(lastScreeningTime)">and `last_screening_time` = #{lastScreeningTime}</if>
                <if test="@Ognl@isNotEmpty(status)">and `status` = #{status}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>

                <!-- 模糊查询 -->
                <if test="nameLike != null">and `name` like CONCAT("%",#{nameLike},"%")</if>
                <if test="idCardLike != null">and id_card like CONCAT("%",#{idCardLike},"%")</if>
                <if test="snoLike != null">and sno like CONCAT("%",#{snoLike},"%")</if>
                <if test="phoneLike != null">and parent_phone like CONCAT("%",#{phoneLike},"%")</if>
                <if test="gradeList != null">and grade_id in
                    <foreach collection="gradeList" open="(" close=")" separator="," item="item">#{item}</foreach>
                </if>
            </trim>
        </where>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, school_no, create_user_id, sno, grade_id, class_id, name, gender, birthday, nation, id_card, parent_phone, mp_parent_phone, province_code, city_code, area_code, town_code, address, current_situation, vision_label, screening_count, questionnaire_count, last_screening_time, status, create_time, update_time
    </sql>

    <select id="getStudentListByCondition" resultMap="BaseResultMapDTO">
        select
        <include refid="Base_Column_List"/>
        from m_student ms
                where ms.status != 2
        <if test="sno != null">
            and ms.sno like CONCAT('%', #{sno}, '%')
        </if>
        <if test="idCard != null and idCard != ''">
            and ms.id_card like CONCAT('%', #{idCard}, '%')
        </if>
        <if test="name != null and name != ''">
            and ms.name like CONCAT('%', #{name}, '%')
        </if>
        <if test="parentPhone != null and parentPhone != ''">
            and ms.parent_phone like CONCAT('%', #{parentPhone}, '%')
        </if>
        <if test="gender != null">
            and ms.gender = #{gender}
        </if>
        <if test="gradeIds != null and gradeIds.size() != 0">
            and ms.grade_id in
            <foreach collection="gradeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="visionLabels != null and visionLabels.size() != 0">
            and ms.vision_label in
            <foreach collection="visionLabels" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="startScreeningTime != null">
            and ms.last_screening_time between #{startScreeningTime} and #{endScreeningTime}
        </if>
        order by ms.create_time desc
    </select>

    <select id="getBy" resultMap="BaseResultMap">
        select *
        from m_student
        <include refid="Base_Where_Clause" />
    </select>

    <select id="getByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_student
        <include refid="Base_Where_Clause"/>
    </select>

    <select id="getStudentById" resultMap="BaseResultMapDTO">
        select
        <include refid="Base_Column_List"/>
        from m_student ms
        where ms.id = #{id}
    </select>
</mapper>
