<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupol.myopia.business.management.domain.mapper.TemplateDistrictMapper">
    <resultMap id="BaseResultMap" type="com.wupol.myopia.business.management.domain.model.TemplateDistrict">
        <!--@mbg.generated-->
        <!--@Table m_template_district-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="template_id" jdbcType="INTEGER" property="templateId"/>
        <result column="district_id" jdbcType="INTEGER" property="districtId"/>
        <result column="district_name" jdbcType="VARCHAR" property="districtName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="@Ognl@isNotEmpty(id)">and `id` = #{id}</if>
                <if test="@Ognl@isNotEmpty(templateId)">and `template_id` = #{templateId}</if>
                <if test="@Ognl@isNotEmpty(districtId)">and `district_id` = #{districtId}</if>
                <if test="@Ognl@isNotEmpty(districtName)">and `district_name` = #{districtName}</if>
                <if test="@Ognl@isNotEmpty(createTime)">and `create_time` = #{createTime}</if>
                <if test="@Ognl@isNotEmpty(updateTime)">and `update_time` = #{updateTime}</if>
            </trim>
        </where>
    </sql>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, template_id, district_id, district_name, create_time, update_time
    </sql>

    <select id="getByTemplateId" resultType="com.wupol.myopia.business.management.domain.dto.TemplateBindItem">
        select mtd.district_id, mtd.district_name
        from m_template_district mtd
        where mtd.template_id = #{templateId}
    </select>

    <delete id="deletedByTemplateIdAndDistrictIds">
        delete
        from m_template_district mtd
                where mtd.template_id = #{templateId}
                  and mtd.district_id in
        <foreach collection="districtIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="batchInsert">
        insert into m_template_district (template_id, district_id, district_name) values
        <foreach collection="items" item="item" index="index" separator=",">
            (#{templateId}, #{item.districtId}, #{item.districtName})
        </foreach>
    </insert>
</mapper>