<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="PATTERN">{"serviceName": "myopia-business", "thread": "%thread", "host": "%host", "logger": "%logger:%L", "level": "%level", "message": "[%c{2}] --- %message"}%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <Socket name="logstash" host="139.9.183.146" port="5044" protocol="TCP">
            <PatternLayout pattern="${PATTERN}" />
        </Socket>
    </Appenders>
    <Loggers>
        <Logger name="com.wupol" level="debug" additivity="false">
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="logstash"/>
        </Logger>
        <!-- 默认level为error级别 -->
        <Root>
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="logstash"/>
        </Root>
    </Loggers>
</Configuration>